.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

li p {
  width: 600px;
  background-color: #ccc;
  padding: 10px;
  /* overflow: hidden; */
}

li button {
  margin-left: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
[type="submit"] {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid green;
}

input[type="text"],
[type="submit"]:focus {
 outline: none;
}

button {
  padding: 10px 25px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button[type="button"] {
  background-color: #f44336;
}

button[type="button"]:hover {
  background-color: #e53935;
}


/* Responsive styles */

@media screen and (max-width: 600px) {
  .App {
    padding: 10px;
  }

  li {
    flex-direction: column;
    align-items: flex-start;
  }

  li button {
    margin-top: 10px;
  }

  form {
    margin-top: 10px;
  }
}